@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <p>Hello, @context.User.Identity.Name</p>
                    <a class="btn btn-outline-primary">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a class="btn btn-outline-primary">Login</a>
                    <a class="btn btn-outline-primary">Register</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
