* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.hu__hu__ { animation: hu__hu__ infinite 2s ease-in-out }
@keyframes hu__hu__ {
    50% { transform: translateY(30px) }
}

.botao {
    background-color: #7C45A7;
    width: 40%;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.botao-header {
    background-color: #7C45A7;
    width: 30%;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.botao:hover {
    background-color: #693A8D;
}

.bg-grey
{
    background-image: url("/images/particle-lines-futuristic-gradient-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-roku {
    width: 50%;
}
.titulo-login
{
    font-family: "Titillium Web", sans-serif;
    font-weight: 800;
    font-style: normal;
    padding: 30px 0;
}

.titulo-cadastro
{
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
    padding: 10px 0;
}

.nao-tem-conta
{
    font-family: "Open Sans", sans-serif;
}

.login-cadastrar
{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #bf0603;
}

.section1
{
    display: flex;
    flex-direction: column;
    height: 100vw;
    max-height: 100vh;
    background-image: url("/images/background-rainbow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
}

.header
{
    display: flex;
    width: 70%;
    align-self: center;
    height: fit-content;
    justify-content: space-between;
    padding-top: 20px;
}

.logo-texto
{
    font-family: "Titillium Web", sans-serif;
    color: white;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5rem;
}

.nav-menu
{
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 0;
}

.nav-menu-link
{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    color: white;
    margin: 0;
}

.principal
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    gap: 30px;
    align-self: center;
    height: 100%;
}

.principal-titulo
{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 50%;
    min-width: 400px;
}

.principal-imagens
{
    display: flex;
    align-items: end;
    flex-direction: column;
    max-width: 50%;
    min-width: 400px;
}

.titulo-home
{
    font-family: "Titillium Web", sans-serif;
    color: white;
    font-weight: 800;
    font-style: normal;
    font-size: 5rem;
    line-height: 1;
}

.paragrafo-home
{
    font-family: "Open Sans", sans-serif;
    color: lightgrey;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.5;
}

.section2
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 70%;
    align-self: center;
    justify-self: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
}

.nosso-servico
{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    justify-self: center;
    align-items: center;
    width: 100%;
    gap: 40px;
}


.nosso-servico-texto
{
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 350px;
}

.nosso-servico-texto-titulo
{
    font-family: "Titillium Web", sans-serif;
    color: #262626;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 30px;
}

.nosso-servico-texto-paragrafo
{
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.nosso-servico-texto-paragrafo-bold
{
    font-family: "Titillium Web", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #5A2E89;
}

.nosso-servico-texto-li
{
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.section3
{
    display: flex;
    flex-direction: row;
    background-color: #F4F5F9;
    width: 100%;
}

.roku-video
{
    width: 50%;
}

.roku-info
{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-content: start;
    width: 50%;
}

.itens-incluidos
{
    font-family: "Titillium Web", sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: #7C45AD;
    
}
