@page "/checkout"

<section class="flex f-row w-full justify-center">
    <div class="flex flex-row w-[90%] items-center">
        <p class="font-sans text-titlecolor text-lg font-semibold">1</p>
        <img src="/images/seta-checkout.png"/>
    </div>
</section>