@page "/"

<section class="section1">
    <div class="header">
        <div class="logo">
            <h1 class="logo-texto">ROKU <span style="font-size: 1.7rem; font-weight: 600">Iptv</span></h1>
        </div>
        <div class="nav-menu">
            <MudLink Underline="Underline.Always" Color="Color.Primary" Href="/"><p class="nav-menu-link">Home</p></MudLink>
            <MudLink Underline="Underline.Always" Color="Color.Primary" Href="/"><p class="nav-menu-link">Detalhes</p></MudLink>
            <MudLink Underline="Underline.Always" Color="Color.Primary" Href="/"><p class="nav-menu-link">Preço</p></MudLink>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="false" StartIcon="@Icons.Material.Outlined.ShoppingCart" IconColor="Color.Secondary" Size="Size.Medium" 
                       ><span style="color: white;">Comprar</span></MudButton>
        </div>
    </div>
    <div class="principal">
        <div class="principal-titulo">
            <h1 class="titulo-home">
                Cansado de pagar caro em streaming?
            </h1>
            <p class="paragrafo-home">
                Todos os canais + filmes + séries em um só lugar por um preço incrível e com um único pagamento!
            </p>
            <MudButton Style="width: 50%" Variant="Variant.Filled" Color="Color.Primary" FullWidth="false" StartIcon="@Icons.Material.Outlined.Info" IconColor="Color.Secondary" Size="Size.Large"
            ><span style="color: white;">Mais Informações</span></MudButton>
        </div>
        <div class="principal-imagens">
            <img src="/images/ROKU.svg" alt="foto do aparelho ROKU EXPRESS" style="width: 100%;">
        </div>
    </div>
</section>