@page "/"

@if (PageIsBusy)
{
    <MudProgressCircular Size="Size.Large" Class="align-self-center" Color="Color.Info" Indeterminate="true" />
}
else
{
    <section class="section1">
    <div class="header">
        <div class="logo">
            <h1 class="logo-texto">ROKU <span style="font-size: 1.7rem; font-weight: 600">Iptv</span></h1>
        </div>
        <div class="nav-menu">
            <MudLink Underline="Underline.Always" Color="Color.Primary" Href="/"><p class="nav-menu-link">Home</p></MudLink>
            <MudLink Underline="Underline.Always" Color="Color.Primary" Href="/"><p class="nav-menu-link">Detalhes</p></MudLink>
            <MudLink Underline="Underline.Always" Color="Color.Primary" Href="/"><p class="nav-menu-link">Preço</p></MudLink>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="false" StartIcon="@Icons.Material.Outlined.ShoppingCart" IconColor="Color.Secondary" Size="Size.Medium" 
            ><span style="color: white;">Comprar</span></MudButton>
        </div>
    </div>
        <div class="principal">
            <div class="principal-titulo">
                <h1 class="titulo-home">
                    Cansado de pagar caro em streaming?
                </h1>
                <p class="paragrafo-home">
                    Todos os canais + filmes + séries em um só lugar por um preço incrível e com um único pagamento!
                </p>
                <MudButton Style="width: 50%" Variant="Variant.Filled" Color="Color.Primary" FullWidth="false" Size="Size.Large"
                ><span style="color: white;">Comprar</span></MudButton>
            </div>
            <div class="principal-imagens">
                <img class="cssanimation hu__hu__ sequence" src="/images/IPTV-UNITV.PNG" alt="foto do aparelho ROKU EXPRESS" style="width: 70%;">
            </div>
        </div>
    </section>
    <section class="section2" data-aos="fade-up" data-aos-duration="1000">
        <div class="nosso-servico">
            <img src="/images/Man1.svg" alt="iptv service imagem" style="width: 330px;"/>
            <div class="nosso-servico-texto">
                <h1 class="nosso-servico-texto-titulo">
                    Transforme sua experiência de entretenimento com o nosso IPTV!
                </h1>
                <p class="nosso-servico-texto-paragrafo">
                    Diga adeus às assinaturas caras e complicadas! Com nosso IPTV vitalício, você paga apenas uma vez e tem acesso completo a filmes, séries, documentários e muito mais, reunindo conteúdos das principais plataformas de streaming em um só lugar.                
                </p>
                <p class="nosso-servico-texto-paragrafo">
                    Aproveite todos os canais de TV ao vivo, incluindo exclusivos como UFC, Premiere e muito mais, para não perder nenhum lance do seu esporte favorito.
                </p>
                <p class="nosso-servico-texto-paragrafo">
                    Tudo isso com qualidade 4K, atualizações constantes e uma experiência sem interrupções. Pague uma vez e assista para sempre!
                </p>
                <ul>
                    <li class="nosso-servico-texto-li"><strong>Acesso completo</strong> a filmes, séries, documentários e muito mais, com conteúdos de todas as principais plataformas de streaming, tudo em um único lugar!</li>
                    <li class="nosso-servico-texto-li"><strong>Todos os canais de TV ao vivo</strong>, incluindo canais exclusivos como UFC, Premiere e muito mais, para você acompanhar ao vivo seus programas e esportes favoritos.</li>
                    <li class="nosso-servico-texto-li"><strong>Conteúdo de qualidade</strong> em alta definição, com atualização constante e uma experiência sem interrupções.</li>
                </ul>
                <MudButton Style="width: 50%" Variant="Variant.Filled" Color="Color.Primary" FullWidth="false" Size="Size.Large"
                ><span style="color: white;">Comprar</span></MudButton>
            </div>
        </div>
    </section>
    <section class="section3" data-aos="fade-up" data-aos-duration="1000">
        <div class="iptv-container"> 
            <div class="iptv-info" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
                <div class="titulo-iptv-info">
                    Como Nosso Produto Funciona?
                </div>
                <p class="texto-iptv-info">
                    A TVBOX UniTV é a solução definitiva para quem busca entretenimento ilimitado sem precisar pagar mensalidades. Com um único investimento, você tem acesso vitalício a todos os canais, incluindo filmes, séries e até canais de esporte, como o Premiere.
                </p>
                <p class="texto-iptv-info">
                    Basta conectar a TVBOX UniTV à sua televisão e à internet para aproveitar uma experiência completa de TV digital. Assista aos seus conteúdos favoritos com alta qualidade e sem interrupções, garantindo diversão para toda a família.
                </p>
                <p class="texto-iptv-info">
                    Simples, prático e sem custos recorrentes. Com a UniTV, você tem tudo o que precisa em um só lugar!
                </p>
            </div>
            <img src="/images/network-image.png" alt="imagem UniTV BOX" style="width: 30%" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200"/>
        </div>
        <div class="iptv-container">
            <img src="/images/configuracao.png" alt="imagem UniTV BOX" style="width: 30%" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200"/>
            <div class="iptv-info" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
                <div class="titulo-iptv-info">
                    Preciso Configurar?
                </div>
                <p class="texto-iptv-info">
                    Não se preocupe com configurações! A TVBOX UniTV já chega totalmente configurada para você. Basta conectar à sua televisão e à internet para começar a aproveitar acesso vitalício a todos os canais, incluindo filmes, séries, esportes e muito mais.
                </p>
                <p class="texto-iptv-info">
                    Esqueça instalações complicadas ou ajustes manuais. Com a UniTV, a experiência é simples e imediata: ligou, conectou, assistiu!
                </p>
            </div>
        </div>
        <div class="iptv-container" style="margin-bottom: 90px;">
            <div class="iptv-info" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
                <div class="titulo-iptv-info">
                    Preciso Pagar Mensalidade?
                </div>
                <p class="texto-iptv-info">
                    <span style="font-weight: 700; font-size: 1.5rem;">Não!</span> Com a TVBOX UniTV, você faz um único pagamento pelo produto e aproveita acesso vitalício a todos os canais, filmes, séries e esportes, sem mensalidades ou taxas escondidas.
                </p>
                <p class="texto-iptv-info">
                    Diferente de outros serviços de TV por assinatura, a UniTV garante entretenimento ilimitado sem cobranças recorrentes. Pague uma vez e assista para sempre!
                </p>
            </div>
            <img src="/images/cartao-de-credito.png" alt="imagem UniTV BOX" style="width: 30%" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200"/>
        </div>
    </section>
    <section class="section4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <img src="/images/avaliacao-icon.png" alt="avaliacao icone" style="width: 90px; margin-bottom: 200px;" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"/>
        <h1 class="titulo-avaliacao" data-aos="fade-up" data-aos-duration="1000">O que dizem os clientes que já compraram conosco</h1>
        <MudCarousel Style="height: 50vh;max-height: 350px; width: 60%; overflow: hidden;" ShowArrows="true" EnableSwipeGesture="true" TData="object" ShowBullets="false" AutoCycle="false" data-aos="fade-up" data-aos-duration="1000">

            <MudCarouselItem Style="height: 80%; width: 80%; display: flex; justify-self: center; justify-content: center; gap: 30px;">
                <img style="height: 100%;" src="/images/avaliacao2.svg" alt="sla"/>
                <img style="height: 100%;" src="/images/avaliacao3.svg" alt="sla"/>
            </MudCarouselItem>
            <MudCarouselItem Style="height: 80%; width: 80%; display: flex; justify-self: center; justify-content: center; gap: 30px;">
                <img style="height: 100%;" src="/images/avaliacao1.svg" alt="sla"/>
                <img style="height: 100%;" src="/images/avaliacao4.svg" alt="sla"/>
            </MudCarouselItem>
        </MudCarousel>
    </section>
    <section class="section5" >
        <h1 class="catalogo-titulo" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Nosso Catálogo</h1>
        <div class="card-container">
            <div class="card-produto" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                
            </div>
            <div class="card-produto" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">

            </div>
            <div class="card-produto" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">

            </div>
        </div>
    </section>
}