@page "/"

<section class="section1">
    <div class="header">
        <div class="logo">
            <h1 class="logo-texto">ROKU <span style="font-size: 1.7rem; font-weight: 600">Iptv</span></h1>
        </div>
        <div class="nav-menu">
            <MudLink Underline="Underline.Always" Color="Color.Primary" Href="/"><p class="nav-menu-link">Home</p></MudLink>
            <MudLink Underline="Underline.Always" Color="Color.Primary" Href="/"><p class="nav-menu-link">Detalhes</p></MudLink>
            <MudLink Underline="Underline.Always" Color="Color.Primary" Href="/"><p class="nav-menu-link">Preço</p></MudLink>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="false" StartIcon="@Icons.Material.Outlined.ShoppingCart" IconColor="Color.Secondary" Size="Size.Medium" 
            ><span style="color: white;">Comprar</span></MudButton>
        </div>
    </div>
    <div class="principal">
        <div class="principal-titulo">
            <h1 class="titulo-home">
                Cansado de pagar caro em streaming?
            </h1>
            <p class="paragrafo-home">
                Todos os canais + filmes + séries em um só lugar por um preço incrível e com um único pagamento!
            </p>
            <MudButton Style="width: 50%" Variant="Variant.Filled" Color="Color.Primary" FullWidth="false" StartIcon="@Icons.Material.Outlined.Info" IconColor="Color.Secondary" Size="Size.Large"
            ><span style="color: white;">Comprar</span></MudButton>
        </div>
        <div class="principal-imagens">
            <img class="cssanimation hu__hu__ sequence" src="/images/ROKU.svg" alt="foto do aparelho ROKU EXPRESS" style="width: 100%;">
        </div>
    </div>
</section>
<section class="section2">
    <div class="nosso-servico">
        <img src="/images/iptv-service.svg" alt="iptv service imagem" style="height: 400px;"/>
        <div class="nosso-servico-texto">
            <h1 class="nosso-servico-texto-titulo">
                Transforme sua experiência de entretenimento com o nosso IPTV!
            </h1>
            <p class="nosso-servico-texto-paragrafo">
                Está cansado de pagar por diversas assinaturas de plataformas de streaming e TV a cabo? Temos a solução perfeita para você! Com o nosso IPTV, você tem acesso a todos os filmes e séries das principais plataformas de streaming por apenas R$ 20,00 por mês!
            </p>
            <ul>
                <li class="nosso-servico-texto-li"><strong>Acesso completo</strong> a filmes, séries, documentários e muito mais, com conteúdos de todas as principais plataformas de streaming, tudo em um único lugar!</li>
                <li class="nosso-servico-texto-li"><strong>Todos os canais de TV ao vivo</strong>, incluindo canais exclusivos como UFC, Premiere e muito mais, para você acompanhar ao vivo seus programas e esportes favoritos.</li>
                <li class="nosso-servico-texto-li"><strong>Conteúdo de qualidade</strong> em alta definição, com atualização constante e uma experiência sem interrupções.</li>
            </ul>
            <p class="nosso-servico-texto-paragrafo-bold">Não perca mais tempo e dinheiro com múltiplas assinaturas! Com nosso IPTV, você tem tudo o que precisa por apenas R$ 20,00 por mês! Aproveite e tenha o melhor do entretenimento, sem limites e sem complicação!</p>
        </div>
    </div>
</section>
<section class="section3">
    <video autoplay muted loop class="video-roku">
        <source src="/images/roku-video.mp4" type="video/mp4">
    </video>
    <div class="roku-info">
        
    </div>
</section>