@page "/"

<section class="section1">
    <div class="header">
        <div class="logo">
            <h1 class="logo-texto">IPTV <span style="font-size: 1.7rem; font-weight: 600">Blaster</span></h1>
        </div>
        <div class="nav-menu">
            <MudLink Color="Color.Secondary" Href="/"><p class="nav-menu-link">Home</p></MudLink>
            <MudLink Color="Color.Secondary" Href="/"><p class="nav-menu-link">Detalhes</p></MudLink>
            <MudLink Color="Color.Secondary" Href="/"><p class="nav-menu-link">Preço</p></MudLink>
        </div>
    </div>
</section>