@page "/"

@if (PageIsBusy)
{
    <MudProgressCircular Size="Size.Large" Class="align-self-center" Color="Color.Info" Indeterminate="true" />
}
else
{
    <section class="flex flex-col h-screen max-h-[950px] bg-[url('/images/background-rainbow.svg')] bg-no-repeat bg-cover font-['Open_Sans',sans-serif] overflow-hidden">
        <div class="flex flex-row w-[90%] self-center h-fit justify-between pt-5 sm:w-[70%] lg:w-[70%]">
            <h1 class="font-serif font-bold text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-white">UniTV <span class="text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl font-light text-white ">canais</span></h1>
            <img @onclick="OpenDrawer" src="/images/cardapio.png" alt="menu" class="w-11 h-10 lg:hidden"/>
            
            <div class="hidden lg:flex flex-row items-center m-0 gap-10">
                <MudLink Underline="Underline.Always" Color="Color.Primary" Href="/"><p class="font-sans font-medium text-base text-white m-0">Home</p></MudLink>
                <MudLink Underline="Underline.Always" Color="Color.Primary" Href="/"><p class="font-sans font-medium text-base text-white m-0">Detalhes</p></MudLink>
                <MudLink Underline="Underline.Always" Color="Color.Primary" Href="/"><p class="font-sans font-medium text-base text-white m-0">Preço</p></MudLink>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="false" StartIcon="@Icons.Material.Outlined.ShoppingCart" IconColor="Color.Secondary" Size="Size.Medium" 
                ><span class="text-white">Comprar</span></MudButton>
            </div>
        </div>  
        <div class="flex flex-col lg:flex-row lg:justify-between sm:w-[70%] lg:w-[70%] items-center w-[90%] gap-[30px] self-center h-full">
            <div class="flex flex-col gap-9 w-full mt-15 lg:w-[50%] lg:min-w-[400px]">
                <h1 class="font-serif text-white font-extrabold text-6xl lg:text-7xl">
                    Cansado de pagar caro em streaming?
                </h1>
                <p class="text-white font-sans text-xs font-light sm:text-base">
                    Todos os canais + filmes + séries em um só lugar por um preço incrível e com um único pagamento!
                </p>
                <img class="cssanimation hu__hu__ sequence self-center lg:hidden" src="/images/streaming-on-line.png" style="width: 90%; max-width: 400px;" alt="foto do aparelho ROKU EXPRESS">
                <MudButton Style="width: 50%; min-width: 300px;" class="self-center mb-10 mt-4 lg:self-start" Variant="Variant.Filled" Color="Color.Primary" FullWidth="false" Size="Size.Large"
                ><span class="text-white">Comprar</span></MudButton>
            </div>
            <div class="hidden lg:flex items-center flex-col w-2/4 min-w-[400px]">
                <img class="cssanimation hu__hu__ sequence w-[70%]" src="/images/streaming-on-line.png" alt="foto do aparelho ROKU EXPRESS">
            </div>
        </div>
    </section>
    <section class="flex flex-col min-h-[60vh] w-[100%] items-center mt-10 mb-10 font-sans" data-aos="fade-up" data-aos-duration="1000">
        <div class="flex flex-row justify-center items-center w-[85%] gap-[40px] md:w-[70%]">
            <img class="hidden sm:flex lg:flex" src="/images/Man1.svg" alt="iptv service imagem" style="width: 30%;"/>
            <div class="flex flex-col w-full sm:w-[85%] lg:w-[70%] sm:min-w-[350px] gap-[15px]">
                <h1 class="font-serif text-[#262626] text-[1.5rem] font-extrabold mb-[10px] lg:text-[2.5rem]">
                    Transforme sua experiência de entretenimento com o nosso IPTV!
                </h1>
                <p class="font-sans text-[0.9rem] font-normal lg:text-base">
                    Diga adeus às assinaturas caras e complicadas! Com nosso IPTV vitalício, você paga apenas uma vez e tem acesso completo a filmes, séries, documentários e muito mais, reunindo conteúdos das principais plataformas de streaming em um só lugar.                
                </p>
                <p class="font-sans text-[0.9rem] font-normal lg:text-base">
                    Aproveite todos os canais de TV ao vivo, incluindo exclusivos como UFC, Premiere e muito mais, para não perder nenhum lance do seu esporte favorito.
                </p>
                <ul class="list-none mt-4">
                    <li class="flex items-start mb-5">
                        <img class="mr-3" src="/images/seta-para-baixo-direita.png"/>
                        <p class="text-[0.8rem] lg:text-base font-sans font-semibold">Acesso completo a filmes, séries, documentários e muito mais, com conteúdos de todas as principais plataformas de streaming, tudo em um único lugar!</p>
                    </li>
                    <li class="flex items-start  mb-5">
                        <img class="mr-3" src="/images/seta-para-baixo-direita.png"/>
                        <p class="text-[0.8rem] lg:text-base font-sans font-semibold">Todos os canais de TV ao vivo, incluindo canais exclusivos como UFC, Premiere e muito mais, para você acompanhar ao vivo seus programas e esportes favoritos.</p>
                    </li>
                    <li class="flex items-center  mb-5">
                        <img class="mr-3" src="/images/seta-para-baixo-direita.png"/>
                        <p class="text-[0.8rem] lg:text-base font-sans font-semibold">Conteúdo de qualidade em alta definição, com atualização constante e uma experiência sem interrupções.</p>
                    </li>
                </ul>
                <MudButton class="self-center lg:self-start mt-5" Style="width: 50%; min-width: 300px;" Variant="Variant.Filled" Color="Color.Primary" FullWidth="false" Size="Size.Large"
                ><span class="text-white">Comprar</span></MudButton>
            </div>
        </div>
    </section>
    <section class="flex flex-col min-h-[50vh] bg-[#131126] w-full items-center justify-start overflow-hidden" data-aos="fade-up" data-aos-duration="1000">
        <div class="flex flex-col w-[90%] items-center justify-center gap-7 mt-[60px] sm:flex-row md:w-[70%]">
            <div class="flex flex-col gap-[15px] w-full sm:w-[70%]" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
                <div class="font-serif text-[#FFD700] text-[1.6rem] font-extrabold mb-[20px] lg:text-[2.5rem]">
                    Como Nosso Produto Funciona?
                </div>
                <p class="text-[0.9rem] text-white lg:text-base font-sans font-semibold">
                    A TVBOX UniTV é a solução definitiva para quem busca entretenimento ilimitado sem precisar pagar mensalidades. Com um único investimento, você tem acesso vitalício a todos os canais, incluindo filmes, séries e até canais de esporte, como o Premiere.
                </p>
                <p class="text-[0.9rem] text-white lg:text-base font-sans font-semibold">
                    Basta conectar a TVBOX UniTV à sua televisão e à internet para aproveitar uma experiência completa de TV digital. Assista aos seus conteúdos favoritos com alta qualidade e sem interrupções, garantindo diversão para toda a família.
                </p>
                <p class="text-[0.9rem] text-white lg:text-base font-sans font-semibold">
                    Simples, prático e sem custos recorrentes. Com a UniTV, você tem tudo o que precisa em um só lugar!
                </p>
            </div>
            <img src="/images/network-image.png" class="w-[80%] sm:w-[25%]" alt="imagem UniTV BOX" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200"/>
        </div>
        <div class="flex flex-col w-[90%] items-center justify-center gap-7 mt-[60px] sm:flex-row md:w-[70%]">
            <img class="hidden md:flex sm:w-[25%]" src="/images/configuracao.png" alt="imagem UniTV BOX" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200"/>
            <div class="flex flex-col gap-[15px] w-full sm:w-[70%]" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
                <div class="font-serif text-[#FFD700] text-[1.6rem] font-extrabold mb-[20px] lg:text-[2.5rem]">
                    Preciso Configurar?
                </div>
                <p class="text-[0.9rem] text-white lg:text-base font-sans font-semibold">
                    Não se preocupe com configurações! A TVBOX UniTV já chega totalmente configurada para você. Basta conectar à sua televisão e à internet para começar a aproveitar acesso vitalício a todos os canais, incluindo filmes, séries, esportes e muito mais.
                </p>
                <p class="text-[0.9rem] text-white lg:text-base font-sans font-semibold">
                    Esqueça instalações complicadas ou ajustes manuais. Com a UniTV, a experiência é simples e imediata: ligou, conectou, assistiu!
                </p>
            </div>
            <img class="flex sm:hidden" src="/images/configuracao.png" alt="imagem UniTV BOX" style="width: 60%" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200"/>
        </div>
        <div class="flex flex-col w-[90%] items-center justify-center gap-7 mt-[60px] mb-[90px] sm:flex-row md:w-[70%]">
            <div class="flex flex-col gap-[15px] w-full sm:w-[70%]" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
                <div class="font-serif text-[#FFD700] text-[1.6rem] font-extrabold mb-[20px] lg:text-[2.5rem]">
                    Preciso Pagar Mensalidade?
                </div>
                <p class="text-[0.9rem] text-white lg:text-base font-sans font-semibold">
                    <span style="font-weight: 700; font-size: 1.5rem;">Não!</span> Com a TVBOX UniTV, você faz um único pagamento pelo produto e aproveita acesso vitalício a todos os canais, filmes, séries e esportes, sem mensalidades ou taxas escondidas.
                </p>
                <p class="text-[0.9rem] text-white lg:text-base font-sans font-semibold">
                    Diferente de outros serviços de TV por assinatura, a UniTV garante entretenimento ilimitado sem cobranças recorrentes. Pague uma vez e assista para sempre!
                </p>
            </div>
            <img src="/images/cartao-de-credito.png" alt="imagem UniTV BOX" class="w-[80%] sm:w-[25%]" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200"/>
        </div>
    </section>
    <section class="flex flex-col w-[100%] min-h-[80vh] justify-center items-center mb-7" >
        <div class="flex flex-col w-[85%] items-center self-center justify-self-center lg:flex-row lg:w-[70%] mb-15">
            <div class="flex flex-col w-full mt-[60px] lg:w-[50%] lg:mt-0">
                <img src="/images/avaliacao-icon.png" alt="avaliacao icone" style="width: 90px;" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"/>
                <h1 class="font-serif text-2xl sm:text-3xl lg:text-4xl font-extrabold text-[#262626]" data-aos="fade-up" data-aos-duration="1000">O que dizem os clientes que já compraram conosco</h1>
            </div>
            <div class="w-full lg:hidden">
                <MudCarousel Class="h-[40vh] max-h-[600px] w-full overflow-hidden" ShowArrows="true" EnableSwipeGesture="true" TData="object" ShowBullets="false" AutoCycle="false" data-aos="fade-up" data-aos-duration="1000">
                    <MudCarouselItem Style="height: 100%; width: 100%; display: flex; justify-self: center; justify-content: center;">
                        <img style="height: 80%; align-self: center;" src="/images/avaliacao2.svg" alt="sla"/>
                    </MudCarouselItem>
                    <MudCarouselItem Style="height: 100%; width: 100%; display: flex; justify-self: center; justify-content: center;">
                        <img style="height: 80%; align-self: center;" src="/images/avaliacao3.svg" alt="sla"/>
                    </MudCarouselItem>
                    <MudCarouselItem Style="height: 100%; width: 100%; display: flex; justify-self: center; justify-content: center;">
                        <img style="height: 80%; align-self: center;" src="/images/avaliacao1.svg" alt="sla"/>
                    </MudCarouselItem>
                    <MudCarouselItem Style="height: 100%; width: 100%; display: flex; justify-self: center; justify-content: center;">
                        <img style="height: 80%; align-self: center;" src="/images/avaliacao4.svg" alt="sla"/>
                    </MudCarouselItem>
                </MudCarousel>
            </div>
            <div class="hidden lg:flex sm:w-[65%]">
                <MudCarousel Class="h-[50vh] max-h-[600px] w-full overflow-hidden" ShowArrows="true" EnableSwipeGesture="true" TData="object" ShowBullets="false" AutoCycle="false" data-aos="fade-up" data-aos-duration="1000">
                    <MudCarouselItem Style="width: 100%; display: flex; justify-self: center; justify-content: center; gap: 30px;">
                        <img style="max-height: 80%; width: 40%; align-self: center;" src="/images/avaliacao2.svg" alt="sla"/>
                        <img style="max-height: 80%; width: 40%; align-self: center;" src="/images/avaliacao3.svg" alt="sla"/>
                    </MudCarouselItem>
                    <MudCarouselItem Style="width: 100%; display: flex; justify-self: center; justify-content: center; gap: 30px;">
                        <img style="max-height: 80%; width: 40%; align-self: center;" src="/images/avaliacao1.svg" alt="sla"/>
                        <img style="max-height: 80%; width: 40%; align-self: center;" src="/images/avaliacao4.svg" alt="sla"/>
                    </MudCarouselItem>
                </MudCarousel>
            </div>
        </div>
    </section>
    <section class="flex flex-col w-full items-center min-h-[100vh] bg-background pb-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
        <h1 class="font-serif text-[#FFD700] font-extrabold text-4xl mt-12 mb-10" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Nosso Catálogo</h1>
        <div class="flex flex-col w-full items-center gap-8">
            <div class="flex flex-column items-center rounded-lg w-[80%] h-[600px] gap-4 bg-[url('/images/background-produto1.svg')] bg-no-repeat bg-cover" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <img src="/images/androidtv.png" alt="foto tvbox" class="w-[70%] mt-[40px]"/>
            </div>
            <div class="flex flex-column items-center rounded-lg w-[80%] h-[600px] gap-4 bg-[url('/images/background-produto1.svg')] bg-no-repeat bg-cover" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <img src="/images/firestick.png" alt="foto tvbox" class="max-w-[70%] max-h-[180px] mt-[40px]"/>
            </div>
            <div class="flex flex-column items-center rounded-lg w-[80%] h-[600px] gap-4 bg-[url('/images/background-produto1.svg')] bg-no-repeat bg-cover" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <img src="/images/iptv-unitv.svg" alt="foto tvbox" class="max-w-[70%] max-h-[180px] mt-[40px]"/>
            </div>
        </div>
    </section>
    <MudDrawer @bind-Open="@_open" Width="50vw" Height="100vh" Anchor="@_anchor" Elevation="1" Variant="@DrawerVariant.Temporary">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">My App</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All">Store</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All">Library</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All">Community</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
}